<template>
  <v-app-bar app flat>
    <v-toolbar-title
      ><v-icon left large color="deep-orange lighten-1"
        >mdi-weather-partly-snowy-rainy</v-icon
      >{{ $t("toolbar.title") }}
    </v-toolbar-title>
    <v-spacer />
    <v-toolbar-items>
      <v-list-item>
        <v-icon>mdi-weather-sunny</v-icon>
        <v-list-item-action>
          <v-switch v-model="isDark" inset></v-switch>
        </v-list-item-action>
        <v-icon class="pl-2">mdi-weather-night</v-icon>
      </v-list-item>
      <locale-changer />
    </v-toolbar-items>
  </v-app-bar>
</template>

<script>
import LocaleChanger from "@/components/core/LocaleChanger";

export default {
  name: "AppToolbar",
  components: {
    LocaleChanger
  },
  data() {
    return {
      isDark: false
    };
  },
  computed: {},
  methods: {},
  watch: {
    isDark() {
      this.$vuetify.theme.dark = this.isDark;
      localStorage.setItem("dark", this.isDark);
    }
  },
  created() {
    this.isDark = this.$vuetify.theme.dark;
  }
};
</script>
