<template>
  <v-menu v-model="showMenu" offset-y>
    <template v-slot:activator="{ on }">
      <v-btn class="btnLocaleActivation" v-on="on" text>
        <v-icon left>mdi-earth</v-icon>{{ locale }}
      </v-btn>
    </template>
    <v-list>
      <v-list-item
        v-for="lang in langs"
        :key="lang"
        :value="lang"
        :input-value="lang == locale"
        @click="switchLocale(lang)"
      >
        <v-img
          height="21px"
          width="28px"
          contain
          :src="require(`@/assets/locale/${lang}.svg`)"
        />
        <v-list-item-title class="ml-3">
          {{ lang.toUpperCase() }}
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  data() {
    return {
      showMenu: false,
      langs: ["ru", "en"]
    };
  },
  methods: {
    switchLocale(lang) {
      this.$i18n.locale = lang;
      this.$vuetify.lang.current = lang;
      localStorage.setItem("locale", lang);
    }
  },
  computed: {
    locale() {
      return this.$i18n.locale;
    }
  }
};
</script>
