<template>
  <v-chip-group show-arrows>
    <v-chip
      close
      v-for="city of cities"
      :key="city"
      close-icon="mdi-trash-can-outline"
      @click="$emit('cityChecked', city)"
      @click:close="deleteCity(city)"
    >
      {{ city }}
    </v-chip>
  </v-chip-group>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  methods: {
    ...mapActions(["deleteCity"])
  },
  computed: {
    ...mapGetters(["cities"])
  },
  watch: {
    cities(val) {
      localStorage.setItem("cities", JSON.stringify(val));
    }
  }
};
</script>
