<template>
  <v-text-field
    :value="value"
    append-icon="mdi-send"
    :label="$t('form.label')"
    prepend-icon="mdi-city-variant-outline"
    required
    clearable
    @click:append="submit"
    @keyup.enter="submit"
    :loading="loadingData"
    :disabled="loadingData"
    @blur="$v.$reset()"
    @input="input($event)"
    :error-messages="errors"
  />
</template>

<script>
import { mapActions } from "vuex";
import { validationMixin } from "vuelidate";
import { required, not, numeric, minLength } from "vuelidate/lib/validators";

export default {
  props: {
    value: String
  },
  data: () => ({
    loadingData: false,
    serverError: null
  }),
  mixins: [validationMixin],
  methods: {
    ...mapActions(["getWeather"]),
    async submit() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.loadingData = true;
        try {
          await this.getWeather({ city: this.value, locale: this.locale });
          this.$emit("input", "");
          this.$v.$reset();
        } catch (error) {
          this.serverError = error;
        } finally {
          this.loadingData = false;
        }
      }
    },
    input(e) {
      this.$emit("input", e);
      this.serverError = null;
      this.$v.value.$touch();
    }
  },
  validations: {
    value: {
      required,
      minLength: minLength(3),
      isString: not(numeric),
      serverError() {
        return !this.serverError;
      }
    }
  },
  computed: {
    locale() {
      return this.$i18n.locale;
    },
    errors() {
      const errors = [];
      if (!this.$v.value.$dirty) return errors;
      !this.$v.value.required && errors.push(this.$t("messages.required"));
      !this.$v.value.minLength && errors.push(this.$t("messages.minLength"));
      !this.$v.value.isString && errors.push(this.$t("messages.isString"));
      !this.$v.value.serverError &&
        errors.push(this.$t(`errors.${this.serverError}`));
      return errors;
    }
  }
};
</script>
