<template>
  <v-row justify="center">
    <v-col cols="12" sm="10" md="8" lg="6">
      <v-card ref="form">
        <v-card-text>
          <city-input v-model.trim="cityInput" />
          <cities-list @cityChecked="cityInput = $event" />
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import CitiesList from "./CitiesList.vue";
import CityInput from "./CityInput.vue";

export default {
  components: { CitiesList, CityInput },
  data() {
    return {
      cityInput: "",
      loadingData: false
    };
  }
};
</script>
