<template>
  <v-app>
    <app-toolbar />
    <v-main>
      <v-container class="pt-5">
        <city-form />
        <weather-list />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import CityForm from "./components/CityForm";
import AppToolbar from "./components/core/AppToolbar.vue";
import WeatherList from "./components/WeatherList";
export default {
  name: "App",

  components: { AppToolbar, CityForm, WeatherList }
};
</script>
