<template>
  <v-row class="justify-center">
    <v-col
      cols="12"
      lg="4"
      md="6"
      sm="6"
      v-for="weather in citiesWeather"
      :key="weather.id"
    >
      <weather-item :item="weather" />
    </v-col>
  </v-row>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import WeatherItem from "./WeatherItem";
export default {
  components: {
    WeatherItem
  },
  data: () => ({}),
  methods: {
    ...mapActions(["deleteCity"])
  },
  computed: {
    ...mapGetters(["citiesWeather"])
  }
};
</script>
