<template>
  <v-card class="item">
    <v-list-item two-line>
      <v-list-item-content>
        <v-list-item-title class="headline">
          {{ item.name }}
        </v-list-item-title>
        <v-list-item-subtitle>{{ date }}</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>

    <v-card-text>
      <v-row align="center">
        <v-col cols="8">
          <div class="d-flex align-center">
            <span class="display-3">{{ temp }}</span>
            <v-btn class="ml-2" fab text @click="changeTempType">
              <v-icon large>{{ tempIcon }}</v-icon>
            </v-btn>
          </div>
          <div>
            {{ $t("item.feel_like") }}
            : {{ feelsLike }}
            <v-icon x-small>{{ tempIcon }}</v-icon>
          </div>
          <div>
            {{ maxMin }}
            <v-icon x-small>{{ tempIcon }}</v-icon>
          </div>
        </v-col>
        <v-col cols="4" class="text-center">
          <v-img
            :src="`http://openweathermap.org/img/wn/${weather.icon}@2x.png`"
            contain
            aspect-ratio="1"
          />
          <span>{{ weather.description }}</span>
        </v-col>
        <v-col cols="12" class="d-flex align-center justify-center">
          <v-icon :style="`transform: rotate(${windDeg}deg);`">mdi-send</v-icon>
          <div class="ml-4 mr-2 display-1">{{ windSpeed }}</div>
          <v-btn fab text @click="speedType = !speedType">
            <span v-if="!speedType">km/h</span>
            <span v-else>mp/h</span>
          </v-btn>
        </v-col>
        <v-col cols="6" class="d-flex align-center justify-center">
          <v-icon>mdi-gauge</v-icon>
          <div class="ml-2 display-1">{{ pressure }}</div>
        </v-col>
        <v-col cols="6" class="d-flex align-center justify-center">
          <v-icon>mdi-water-outline</v-icon>
          <div class="ml-2 display-1">{{ item.main.humidity }}%</div>
        </v-col>
      </v-row>
    </v-card-text>

    <v-divider></v-divider>

    <v-card-actions>
      <v-spacer />
      <v-btn text @click="deleteCityWeather(item.id)">
        <v-icon left>mdi-trash-can</v-icon>
        {{ $t("item.delete") }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapActions } from "vuex";

export default {
  props: {
    item: {
      type: Object
    }
  },
  methods: {
    ...mapActions(["deleteCityWeather"]),
    changeTempType() {
      this.tempIndex === 2 ? (this.tempIndex = 0) : this.tempIndex++;
    },
    tempConvert(temp) {
      switch (this.tempIndex) {
        case 0:
          return (temp - 273.15).toPrecision(2);
        case 1:
          return ((temp - 273.15) * (9 / 5) + 32).toPrecision(2);
        default:
          return temp;
      }
    }
  },
  created() {
    console.log(this.item);
  },
  computed: {
    tempIcon() {
      switch (this.tempIndex) {
        case 0:
          return "mdi-temperature-celsius";
        case 1:
          return "mdi-temperature-fahrenheit";
        default:
          return "mdi-temperature-kelvin";
      }
    },
    date() {
      return this.item.date.toLocaleString(this.locale);
    },
    locale() {
      return this.$i18n.locale;
    },
    weather() {
      return this.item.weather[0];
    },
    temp() {
      return this.tempConvert(this.item.main.temp);
    },
    feelsLike() {
      return this.tempConvert(this.item.main.feels_like);
    },
    windSpeed() {
      return !this.speedType
        ? this.item.wind.speed
        : Math.ceil(this.item.wind.speed / 1.609);
    },
    windDeg() {
      return -90 + this.item.wind.deg;
    },
    maxMin() {
      return `${this.tempConvert(this.item.main.temp_max)}/${this.tempConvert(
        this.item.main.temp_min
      )}`;
    },
    pressure() {
      return (this.item.main.pressure / 1.333).toFixed(2);
    }
  },
  data() {
    return {
      tempIndex: 0,
      speedType: 0
    };
  }
};
</script>

<style lang="scss" scoped>
.item {
  display: flex;
  flex-direction: column;
  height: 100%;
}
</style>
